body {
	font-family: helvetica, arial, sans-serif;
	font-size: 16px;
}

h1 {
	color: yellow;
}

.content-wrapper {
	width: 960px;
	position: relative;
	overflow: hidden;
	margin: auto;
}

#main-header {
	background-color: #34F463;
	color: white;
	background: url("http://3.bp.blogspot.com/-D-sF08ubTYw/TehikPolERI/AAAAAAAABPo/8Bq_rXLQOpA/s1600/15.jpg");
	background-size: cover;
}

#main-nav {
	float: right;
}

#main-nav li {
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

#main-header h1 {
	color: green;
}

#logo {
	font-weight: bold;
	font-size: 24px;
	text-shadow: rgba(0,0,0,.5) 2px 2px;
	float: left;
	margin-top: 0.5em;
	color: white !important;
}

@media screen and (max-width: 960px) {
	.content-wrapper {
		width: auto;
	}

	#main-header {
		background: red;
	}

	#main-nav {
		float: none;
		text-align: center;
	}

	#logo {
		float: none;
		text-align: center;
	}
}

@media screen and (max-width: 620px) {
	#main-header {
		background: yellow;
	}

	#logo {
		color: black !important;
		/*display: none;*/
		visibility: hidden;
	}
}